body {
    font-family: 'Instrument Serif', serif;
}

/* Containers */

.container-wrapper {
    background-color: lightgrey;
}

.container-wrapper--orange {
    background: linear-gradient(lightgrey, orange);
    color: rgb(55, 55, 55);
}

.container-wrapper--fade {
    background: linear-gradient(orange, lightgrey);
}

.callout-container {
    height: 100vh;
    background: url('../images/whiskey-background.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

/* Quotes */

.quotes {
    text-align: center;
}

.quotes .page-header {
    margin-top: 25px;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: orange;
}

.block-divider--orange {
    background-color: orange;
}

.block-divider--grey {
    background-color: rgb(55, 55, 55);
}

.block-divider--short {
    width: 35px;
    margin-bottom: 25px;
}

/* navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font-size: 1.5rem;
}

/* jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-size: 3.75rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron-lead {
    font-size: 2.25rem;
    font-weight: 300;
    color: rgb(211 211 211);
}

.jumbotron small {
    font-size: 125%;
    font-style: italic;
    color: #d0d0d0;
}

.free {
    font-weight: bold;
    color: orange;
    background-color: rgb(55, 55, 55);
    border-radius: 29px;
}

/* Alerts */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.alert-warning {
    color: rgb(55, 55, 55);
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: orange;
    border-color: orange;
    font-size: 1.5rem;
}

/* Buttons */

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn--cta {
    font-weight: bold;
    border-radius: 29px;
    width: 120px;
}

.btn--grey {
    color: orange;
    background-color: rgb(55, 55, 55);
    border-color: rgb(55, 55, 55);
    font-size: 1.5rem;
    width: 250px;
}

.btn--sml {
    width: 120px;
}

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    color: white;
    background-color: rgb(1, 187, 1);
    border-color: rgb(1, 187, 1);
}

.btn--orange {
    color: rgb(55, 55, 55);
    background-color: orange;
    border-color: orange;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    color: white;
    background-color: rgb(1, 187, 1);
    border-color: rgb(1, 187, 1);
}

/* Features */

.feature {
    text-align: center;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 40px;
}

/* Table */

.monthly-favourites-container {
    font-family: 'Instrument Serif', serif;
}

.table {
    text-align: center;
    margin-bottom: 40px;
}

/* Modal */

.modal-title {
    color: lightgrey;
}

.modal-body, .modal-header {
    background-color: rgb(55, 55, 55);
    border-color: orange;
}

.form-control {
    border-color: orange;
    background-color: lightgrey;
}

.form-group {
    color: lightgrey;
    background-color: rgb(55, 55, 55);
}
